.idea
*.log
*.tmp
.DS_Store
/build
/dist
/node_modules
/.venv
__pycache__/
*.pyc
.vscode
.env
*.swp
*.bak
thumbs.db
*.class
*.jar
*.war
*.iml
*.obj
*.exe
*.dll

vscode-extension/
vscode-extension-lsp/
IFLOW.md